/* WaitTimeForm.css */

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color: white; /* Ensure background is white */
    border-radius: 15px;
}

/* Form Styles */
form {
    width: 100%;
}

form > div {
    margin-bottom: 15px;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000; /* Text color for labels */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000; /* Text color for inputs */
}

/* Button Styles */
button {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Disabled Button */
button:disabled {
    background-color: #ccc;
}

/* Result Text */
.result-text {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #f4f4f4;
}

/* Highlighted Time */
.highlighted-time {
    font-weight: bold;
    font-size: 1.2rem;
    color: #1976d2;
}
.doctor-type{
    color: black;
}
.financial-classes{
    color: black;
}

/* Ensure visibility for dark mode */
body[data-theme='dark'] .form-container {
    background-color: #333; /* Dark background for the form */
    color: #fff; /* White text in dark mode */
}
body[data-theme='dark'] .doctor-type {
    /* background-color: #333;  */
    color: #fff; /* White text in dark mode */
}
body[data-theme='dark'] .financial-classes {
    /* background-color: #333;  */
    color: #fff; /* White text in dark mode */
}
body[data-theme='dark'] .MuiFormControlLabel-label {
    color: #fff; /* Ensures label visibility */
}

body[data-theme='dark'] input {
    background-color: #555;
    color: #fff;
}

body[data-theme='dark'] button {
    background-color: #0069c0;
}
body[data-theme='dark'] button {
    background-color: #0069c0;
}
