.form-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0 0.2rem;
    color: white;
}

.form-container input {
    background-color: black; /* Light blue background */
    color: white;

    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.result-text {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
    /* font-weight: bold; */
}

.highlighted-time {
    color: wheat; /* Highlight color */
    font-weight: bold;
}